<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

	<title>Gallery PAGE</title>
	<style>
		input[type=text]:focus {
	  		border: 3px solid lightblue;
	  		border-radius: 15px;
}
		textarea:focus {
	  		border: 3px solid lightblue;
	  		border-radius: 15px;
	  	}
input[type=text],textarea {
  transition: 0.8s;
}
textarea {
  width: 50%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
	</style>
</head>
<body>

  <h2>gallery form</h2>

<form  method = 'post' action = '.' enctype = 'multipart/form-data'>
	{% csrf_token %}
<div class='jumbotron'> 
<form action='.' method='post' enctype="multipart/form-data">
{% csrf_token %}
	
<div class="col-sm-2">Gallery Name:</div> 
<div class="col-">{{form.g_name}}</div>

<div class="col-sm-2">gallery description: </div>
<div class="col">{{form.description}} </div>



<button>ADD</button>
</div>

</form>
</body>
</html>